.container{
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h2{
    padding: 40px;
    font-size: 3rem;
}
.container-chairs{
    display: flex;
    justify-content: space-between;
    gap:20px;
    flex-wrap: wrap;
}